body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #007F73; /* Light pink background */
}

#app {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Align items at the top */
    padding-top: 20px;
}

.sidebar, #pomodoro-timer {
    background-color: #FFC700; /* Lighter pink for each section */
    padding: 20px;
    margin: 10px;
    border-radius: 10px; /* Rounded corners for each section */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}


/* Styles for the Pomodoro timer specifically */
#pomodoro-timer {
    background-color: #4CCD99; /* Darker pink/red for the timer */
    color: rgb(0, 0, 0);
    padding: 40px;
    border-radius: 20px; /* More pronounced rounded corners for the timer */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#timer-display {
    font-size: 5em; /* Larger font size for the timer display */
    margin: 0;
}

button {
    background-color: #FFF455; /* Button color */
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Space above the button */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFC700; /* Slightly darker on hover */
}

input[type="text"], textarea {
    width: calc(100% - 22px); /* Adjusts width accounting for padding */
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#note-input {
    height: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Styling for the task description and delete button */
#current-task-input, #new-task-input {
    margin-bottom: 5px;
}

.delete-btn {
    background-color: #FFCDD2;
    color: #AD1457;
    border: 1px solid #AD1457;
    padding: 3px 6px;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #FFEBEE;
}

.completed {
    text-decoration: line-through;
}

.sidebar {
    /* Other styles remain unchanged */
    border-right: 2px solid #ccc; /* Add a right border to both sidebars */
}

#notes-section {
    border-right: none; /* Remove the right border for the notes section */
}

/* Button styles for the delete button next to each task */
#task-list button {
    background-color: #eb7a77; /* Make delete buttons stand out */
    margin-left: 10px; /* Space from the task text */
}